<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: page(~{::main})}">
<main id="book">
  <section>
    <h1>
      <span th:text="${pageTitle}">Grāmata (Ab1234_CD)</span>
      <span><a href="/biblio/Ab1234_BC" th:href="|/biblio/${currentBook.fullSourceCode}">Bibliogrāfija</a></span>
    </h1>
    <div class="page-nav">
      <!-- List of books (only for collections) -->
      <nav class="books" th:if="${collection} != null">
        <label for="bookSelector">Nodaļa:</label>
        <form class="nav-block" action="/goto" th:if="${prevBook} != null">
          <input type="submit" name="source" th:value="${prevBook.fullSourceCode}">
        </form>
        <form class="books nav-block" action="/goto">
          <select id="bookSelector" name="source">
            <option
              th:each="book : ${books}"
              th:value="${book.fullSourceCode}"
              th:text="${book.displayTitle}"
              th:selected="${book.fullSourceCode} == ${currentBook.fullSourceCode}"
            ></option>
          </select>
          <button type="submit">Atvērt</button>
        </form>
        <form class="nav-block" action="/goto" th:if="${nextBook} != null">
          <input type="submit" name="source" th:value="${nextBook.fullSourceCode}"/>
        </form>
      </nav>

      <!-- List of pages -->
      <nav class="pages" th:if="${pages} != null">
        <label for="pageSelector">Lappuse:</label>
        <form class="nav-block" action="/goto" th:if="${prevPage} != null">
          <input type="hidden" name="source" th:value="${currentBook.fullSourceCode}"/>
          <input type="hidden" name="page" th:value="${prevPage.encodedLinkName}">
          <button th:text="|Iepriekšējā (${prevPage.displayName})|"></button>
        </form>
        <form class="pages nav-block" action="/goto">
          <input type="hidden" name="source" th:value="${currentBook.fullSourceCode}"/>
          <select id="pageSelector" name="page">
            <option
              th:each="page : ${pages}"
              th:value="${page.encodedLinkName}"
              th:text="${page.displayName}"
              th:selected="${page.encodedLinkName} == ${currentPage.encodedLinkName}"
            ></option>
          </select>
          <button type="submit">Atvērt</button>
        </form>
        <form class="nav-block" action="/goto" th:if="${nextPage} != null">
          <input type="hidden" name="source" th:value="${currentBook.fullSourceCode}"/>
          <input type="hidden" name="page" th:value="${nextPage.encodedLinkName}">
          <button th:text="|Nākamā (${nextPage.displayName})|"></button>
        </form>
      </nav>
    </div>

    <!-- Page content -->
    <div id="pageContent" translate="no">
      <table>
        <tr th:each="line : ${lines}">
          <td class="address">
            <a
              th:id="${line.address}"
              th:href="|/goto?address=${line.address}"
              th:text="${line.address}"
            >Ab1234_BC_--_1</a>
          </td>
          <td>[(${line.dataHtml})]</td>
        </tr>
      </table>
      <div>
        <a th:if="${facsimile} != null" th:href="${facsimile}">
          <img
            th:if="${facsimile} != null"
            th:src="${facsimile}"
            alt="Rakstu darba oriģināla faksimils"
          >
        </a>
      </div>
    </div>

    <div class="page-nav">
      <nav th:insert="~{this :: .pages}"></nav>
      <nav th:insert="~{this :: .books}"></nav>
    </div>

  </section>
</main>
</html>